.contact-form-container {
    box-shadow: 10px 10px 10px black;
    background: var(--orange);
    color: var(--secondary);
    border-radius: 20px;
}

.contact-form {
    background: var(--orange);
    color: var(--secondary);
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

.contact-btn {
    background: var(--contact-btn-bg);
    color: var(--background);
    /* box-shadow: 5px 5px 0 var(--background); */
    border-radius: 5px;
}

.contact-btn:hover {
    box-shadow: 5px 5px 0 var(--background);
    color: var(--orange);
    transform: translateX(-5px) translateY(-5px);
}

.contact-btn:active {
    box-shadow: inset 2px 2px 2px var(--secondary), inset -1px -1px 1px var(--secondary), inset 5px 5px 5px var(--background), inset -2px -2px 2px var(--background);
    border-radius: 5px;
    transform: translateX(0px) translateY(0px);
}

.dark .contact-btn:active {
    box-shadow: inset 5px 5px 5px var(--background), inset -2px -2px 2px var(--background);
    border-radius: 5px;
    transform: translateX(0px) translateY(0px);
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 75vh;
}

.left-side {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    border-right: 5px solid var(--orange);
}

.right-side {
    display: grid;
}

.section:nth-child(2) {
    border-top: 5px solid var(--orange);
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .contact-section {
        grid-template-columns: 1fr;
    }

    .left-side {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        border-right: none;
    }
}