.footer {
    font-size: 24px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 20px;
    font-weight: 900;
    letter-spacing: .15rem;
    background: var(--background);
    border: 4px solid var(--orange);
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: .5rem;
}

.footer-column {
    flex: 1 1 200px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}
.footer-column h1 {
    font-size: 1.5em;
}

.footer-column h2 {
    font-size: 1.2em;
}

.logo-column {
    flex-shrink: 0;
    min-width: 120px;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image {
    display: flex;
    justify-content: center;
}

.center-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}