.home-section {
    position: relative;
    /* background: url('/assets/bg3.jpg') no-repeat center fixed; */
    background-color: var(--orange);
    background-size: cover;
}

/* .home-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
} */

.home-card-container {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.home-card {
	border-radius: 10px;
}

.home-card-title {
	font-size: 42px;
}

.home-card-text {
    font-size: 20px;
	color: #ffffff;
}

.grocery-card {
    max-width: 500px;
    border-radius: 20px;
    background: var(--background);
}

.grocery-card-title {
    color: var(--main);
    font-size: 32px;
    text-shadow: 0px 0px 1px var(--main), 0 0 2px var(--main), 0 1px 1px var(--main), 1px 0 1px var(--main),
        -1px 0 1px var(--main), 0 -1px 1px var(--main);
}

.grocery-image {
    border-radius: 20px;
}

.specials-card {
    font-weight: 900;
    max-width: 350px;
    border-radius: 20px;
    text-align: center;
    background: var(--background);
    box-shadow: 5px 5px 0px 5px black;
}