.home-section {
    position: relative;
    background: url('/assets/bg3.jpg') no-repeat center fixed;
    background-size: cover;
}

.home-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.home-card-container {
    position: relative;
}

.home-card {
	font-weight: 900;
	border-radius: 10px;
	text-shadow: 0px 0px 1px black;
}

.home-card-title {
    font-family: 'Bubbler One';
	color: var(--main);
    font-weight: 900;
	font-size: 32px;
	text-shadow: 0px 0px 1px var(--main), 0 0 2px var(--main), 0 1px 1px var(--main), 1px 0 1px var(--main),
		-1px 0 1px var(--main), 0 -1px 1px var(--main);
}

.home-card-text {
    font-family: 'Marmelad';
    font-weight: 800;
    font-size: 20px;
	color: #ffffff;
}

.grocery-card {
    font-family: 'Marmelad';
    font-weight: 900;
    max-width: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 1px black;
}

.grocery-card-title {
    font-family: 'Marmelad';
    color: var(--main);
    font-weight: 900;
    font-size: 32px;
    text-shadow: 0px 0px 1px var(--main), 0 0 2px var(--main), 0 1px 1px var(--main), 1px 0 1px var(--main),
        -1px 0 1px var(--main), 0 -1px 1px var(--main);
}

.grocery-image {
    border-radius: 10px;
}

.specials-card {
    font-weight: 900;
    max-width: 350px;
    border-radius: 10px;
    text-align: center;
    background: rgba(59, 163, 59);
    text-shadow: 0px 0px 1px black;
}